QListWidget { 
  color: white;
}
QListWidget::item {
  padding: 10px;
  border: 20px;
}
QListWidget::item::hover {
  background-color: #4C3BCF;
}
QListWidget::item::selected {
  background-color: #4C3BCF;
  color: white;
  border: 0;
}
