@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
  font-family: "Helvetica Neue", "Inter", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

$cor_background: #4C3BCF;
$cor_texto: #6c757d;
$cor_hover: #4B70F5;

@mixin botoes_clicaveis() {
  background-color: $cor_background;
  color: white;
  border-radius: 7px;
  padding: 7px 12px;
  font-size: 12px;
  &:hover{
    background-color: $cor_hover;
  }
}
@mixin labels($fonte, $tamanho, $weight) {
  color: white;
  font-family: $fonte, Helvetica, Arial, sans-serif;
  font-size: $tamanho;
  font-weight: $weight;
  padding: 0px 0px
}

QWidget {
  background-color: #242424; 
}

QLabel { 
  @include labels("Helvetica Neue", 12px, bold);
  
  &#extra-grande { @include labels("Chakra Petch", 30px, bold); }
  &#grande { @include labels("Chakra Petch", 25px, bold); }
  &#medio { @include labels("Helvetica Neue", 15px, bold); }
  &#medio-normal { @include labels("Helvetica Neue", 15px, normal); }
  &#pequeno { @include labels("Helvetica Neue", 12px, bold); }
  &#pequeno-normal { @include labels("Helvetica Neue", 12px, normal); }
}

QPushButton {
  @include botoes_clicaveis();
}
QPushButton#botaoMenuBarraLateral {
  background-color: teal;
  width: 100%;
  border-radius: 0px;
}

QGroupBox {
  color: white;
}

QProgressBar {  /* Agrupando estilos de QProgressBar */
  border: 1px solid grey;
  border-radius: 7px;
  text-align: center;
  color: white;
}
QProgressBar::chunk {
  background-color: $cor_background;
  width: 10px;
  margin: 0.5px;
}

QMenu {  /* Agrupando estilos de QMenu */
  background-color: rgb(66, 66, 66);
  margin: 2px;
  color: white;
}
QMenu::item {
  padding: 2px 25px 2px 20px;
  border: 1px solid transparent;
  background-color: transparent;
  color: white;
}
QMenu::item:selected { 
  background-color: $cor_hover; 
}
QMenu::indicator {
  width: 13px;
  height: 13px;
}

QMenuBar {  /* Agrupando estilos de QMenuBar */
  background-color: rgb(66, 66, 66);
  color: white;
  spacing: 3px;
}
QMenuBar::item {
  padding: 1px 4px;
  background-color: rgb(66, 66, 66);
  color: white;
  border-radius: 4px;
}
QMenuBar::item:hover, QMenuBar::item:selected { 
  background-color: $cor_hover; 
  color: white;
} 
QMenuBar::item:pressed { 
  background: $cor_background; 
  color: white;
}

QToolBar {
  color: white;
  padding: 5px 0px;
}

QToolButton {  /* Agrupando estilos de QToolButton */
  float: left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 7px 0px;
  width: 100%;
  color: white;
  background-color: transparent;
  text-align: left;
}
QToolButton[active="true"], QToolButton:hover { background-color: $cor_hover; }

QComboBox {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 1px 18px 1px 3px;
  min-width: 6em;
}

QComboBox:editable {
  background: $cor_background;
  color: white;
}
QComboBox:editable:hover {
  background: $cor_hover;
}
QComboBox QAbstractItemView::item {
  color: white; /* Define a cor do texto para vermelho */
}
QComboBox QAbstractItemView::item:hover {
  background-color: $cor_hover; /* Define a cor do texto para vermelho */
  color: white;
}
QComboBox QAbstractItemView::item:selected {
  background-color: $cor_hover; /* Define a cor do texto para vermelho */
  color: white;
}

QLineEdit {  /* Agrupando estilos de QLineEdit */
  border-radius: 8px;
  padding: 5px 10px;
  border: 2px solid rgb(66, 66, 66);
  background-color: rgb(66, 66, 66);
  color: white;
}
QLineEdit:focus, QLineEdit:hover { 
  selection-background-color: $cor_hover; 
  border-color: $cor_hover;
}
QTabBar::scroller { /* the width of the scroll buttons */
  width: 20px;
}
QTabWidget::tab-bar { left: 1px; right: 5px; } /* move to the right by 5px */

QTabBar::tab {  /* Agrupando estilos de QTabBar */
  background: transparent;
  color: white;
  min-width: 8ex;
  padding: 3px;
  margin-right: 3px;
}
QTabBar::tab:selected, QTabBar::tab:hover { 
  background: $cor_hover; 
}

QToolTip {
  padding: 5px;
  color: white;
  background-color: rgb(66, 66, 66);
	border-left: 3px solid $cor_background;
  background-repeat: no-repeat;
	text-align: left;
	padding-left: 8px;
	margin: 0px;
}
QAbstractItemView {
  color: white;
}
QTreeView {  /* Agrupando estilos de QTreeView */
  show-decoration-selected: 1;
  color: white;
}
QTreeView::branch:closed:has-children {
  border-image: none;
  image: url(Assets/svg/corner-down-right.svg)
}
QTreeView::branch:open:has-children {
  border-image: none;
  image: url(Assets/svg/corner-left-down.svg)
}
QTreeView::item:hover { 
  background: $cor_hover; 
}
QTreeView::item:selected { 
  background-color: $cor_background; 
}

QDateEdit { width: 85px; }

QSlider::groove:horizontal {
  border: 1px;
  border-radius: 10px;
  background: rgb(66, 66, 66);
}

QSlider::groove:horizontal:hover {
  border-color: $cor_hover;
}

QSlider::handle:horizontal {
  background: $cor_background;
  border: 1px solid $cor_background;
  border-radius: 5px;
  width: 13px;
  height: 20px;
}
QSlider::handle:horizontal:hover {
  border: 1px solid $cor_hover;
  background: $cor_hover;
}

QCheckBox {
  color: white;
}
QCheckBox::indicator:checked {
  background-color: $cor_background;
  border: 2px solid $cor_background;
  border-radius: 7px;
  image: url(Assets/svg/check.svg);
}
QCheckBox::indicator:unchecked {
  background-color: rgb(66, 66, 66);
  border: 2px solid rgb(66, 66, 66);
  border-radius: 7px;
}
QCheckBox::indicator:unchecked:hover, QCheckBox::indicator:checked:hover {
  background-color: $cor_hover;
  border-color: $cor_hover;
}

QScrollBar:vertical {
  background-color: #353535;
  width: 15px;
  margin: 0px 0px 0px 0px;
}
QScrollBar::handle:vertical {
  background-color: #444444;
  min-height: 20px;
}
QScrollBar::handle:vertical:hover {
  background-color: $cor_hover;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
  background-color: #353535;
  border: none;
  height: 0px; /* Esconde as setas */
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
}
QTableWidget {	
	background-color: transparent;
	padding: 10px;
	border-radius: 5px;
	gridline-color: transparent;
}
QTableWidget::item{
	padding-left: 5px;
	padding-right: 5px;
}
QTableWidget::item:selected,QTableWidget::item:hover{
	background-color: $cor_hover;
}

QHeaderView::section:hover {
	background-color: $cor_hover;
}
QHeaderView::section:horizontal{
	background-color: $cor_background;
  color: white;
	padding: 3px;
	border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
